<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folium Map Title</title>
</head>

<body>
    <h1>Hello World</h1>
    <h1>Render Folium on Flask 🌏</h1>
    <h2>Hello World</h2>
        <div>
        <a href="https://www.google.com/" target="_blank">Visit Main Page!</a>
        </div>
    <iframe class="map", src="../static/map.html", width="300" height="300"></iframe>
    <h3>Hello World</h3>

<div>
    <h2>Absolute URLs</h2>
<p><a href="https://www.w3.org/">W3C</a></p>
<p><a href="https://www.google.com/">Google</a></p>

<h2>Relative URLs</h2>
<p><a href="html_images.asp">HTML Images</a></p>
<p><a href="/css/default.asp">CSS Tutorial</a></p>
</div>
</body>
</html>